.success{
    background-color: rgb(221, 250, 177);
    color:green;
    text-align: center
      
}
.error{
    background-color:rgb(255, 232, 233);
    color:red;
    text-align: center
}

input {
    width: 90%;
  }

.infymovie-heading {
    color: white;
    text-align: center;
 }

 #movies {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #movies td, #movies th {
    border: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  
  #movies tr:nth-child(even){background-color: #f2f2f2;}
  
  #movies tr:hover {background-color: #ddd;}
  
  #movies th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(58, 108, 198);
    color: white;
  }
  .btn-demo {
    background-color: rgb(58, 108, 198);
  }