<div class="row">
<div class="col-md-6 offset-md-3">
  <h1 class="text-center infymovie-heading">All Movies</h1>
  <table id="movies" >
    <thead>
      <tr>
        <th>Movie Id</th>
      <th>Movie Name</th>
      <th>Rating</th>
      <th>Action</th></tr>
    </thead>
    <tbody>
      <tr  *ngFor="let i of movieList" >
        <td>{{i.movieId}}</td>
        <td>{{i.name}}</td>
        <td>{{i.rating}}</td>
        <td><a href="" (click)="deleteMovie(i.movieId)"><u>Delete</u></a></td>
      </tr>
    </tbody>


  </table>
  <br><br><br>
</div>
</div>
